# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Code settings
.vscode/

# macOS specific files
.DS_Store

# IDE settings
.idea/

# Logs and backups
*.log
*.bak

# Environment variables
.env
